/* display: inline-block; */
body {
	background-color: #171717;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	margin: 0;
}

#container {
	width: 100%;
	margin: 0 auto;

	display: grid;
	grid-template-columns: 250px auto;
	grid-template-rows: auto;
	grid-template-areas: "nav main";
}

.navbar {
	grid-area: nav;
	background-color: #202124;
	/* extend nav untill the bottom of the screen */
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	grid-area: main;
}

.navbar-ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.title {
	text-align: center;
	/* outline: 1px solid white; */
	padding: 10px;
	/* set only bottom outline */
	border-bottom: 1px solid #171717;
}

.navbar-brand {
	font-size: 25px;
	color: white;
	text-decoration: none;
}

.navbar-ul li {
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(58, 58, 58);
	margin: 15px;
}

.navbar-ul li:hover {
	background-color: rgb(104, 104, 104);
	box-shadow: 0px 0px 5px 0px white;
}

.active {
	box-shadow: 0px 0px 5px 0px white;
}

#nav-button {
	color: white;
	text-decoration: none;
}

.current-page {
	/* vertical size to 50px */
	height: 50px;
	/* certer text on vertical axies */
	display: flex;
	align-items: center;
	padding-left: 20px;
	font-size: 20px;
}

.blocks-div {
	/* ajust blocks if dont fit on screen */
	display: flex;
	flex-wrap: wrap;
}

.card {
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(58, 58, 58);
	margin: 15px;
	width: 250px;
	/* align items vetically */
	display: flex;
	flex-direction: column;
}

#cozinha {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#buttons_cozinha {
	padding-left: 15px;
}

#displayTemp_cozinha {
	margin: 60px 0 0 30px;
	position: relative;
	right: 10px;
}

.card-ident {
	/* align items horizontally */
	display: flex;
	flex-direction: row;
}

.btn-pls {
	/* round feft corners */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(58, 58, 58);
	/* color: white; */
	width: 40px;
	height: 30px;
	text-align: center;
}

.btn-mns {
	/* round feft corners */
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: rgb(58, 58, 58);
	/* color: white; */
	width: 40px;
	height: 30px;
	text-align: center;
}

/*security*/
#firstContainer {
	height: 180px;
}

.switch {
	margin-top: 20px;
	position: relative;
	width: 60px;
	height: 34px;
	margin-left: 4px;
}
.switch input[type="checkbox"] {
	position: absolute;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter: alpha(opacity=0);
}
.switch label,
.switch label span {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition-duration: 0.2s;
}
.switch label {
	border-radius: 20px;
	background-color: #ddd;
}
.switch label:before,
.switch label:after {
	position: absolute;
	top: 0;
	width: 34px;
	line-height: 34px;
	color: #fff;
	text-align: center;
}
.switch label span {
	z-index: 1;
	width: 28px;
	height: 28px;
	margin: 3px;
	border-radius: 50%;
	background-color: #fff;
}
.switch label:before {
	left: 0;
	font-size: 11px;
	content: "ON";
}
.switch label:after {
	right: 0;
	font-size: 10px;
	content: "OFF";
}
.switch input:checked + label {
	background-color: #00c73c;
}
.switch input:checked + label span {
	transform: translateX(26px);
}

.camBtn {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	padding: 0 16px;
	min-width: 64px;
	height: 36px;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
	background-color: grey;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
		0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	font-family:"Roboto","Segoe UI",BlinkMacSystemFont,system-ui,-apple-system;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

.camBtn::-moz-focus-inner {
	border: none;
}

/* Overlay */
.camBtn::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
	opacity: 0;
	transition: opacity 0.2s;
}

/* Ripple */
.camBtn::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px;
	height: 32px;
	background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.camBtn:hover,
.camBtn:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
		0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.camBtn:hover::before {
	opacity: 0.08;
}

.camBtn:focus::before {
	opacity: 0.24;
}

.camBtn:hover:focus::before {
	opacity: 0.3;
}

/* Active */
.camBtn:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
		0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.camBtn:active::after {
	opacity: 0.32;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}

/* Disabled */
.camBtn:disabled {
	color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
	background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
	box-shadow: none;
	cursor: initial;
}

.camBtn:disabled::before {
	opacity: 0;
}

.camBtn:disabled::after {
	opacity: 0;
}

.cam{

}